<a href="https://colab.research.google.com/github/ParkCheolHyun/gong/blob/main/week3_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
t1=(1,2,"a","b")
t1[0]

1

In [8]:
t2=(3,4) t1=(3,5)
t2*3
t2+t1

SyntaxError: ignored

In [19]:
tup1=(1,) #,를 붙이지 않으면 숫자로 인식해서 오류가 난다.
tup2=(4,5,6)
tup3=tup1+tup2
print(tup3)

(1, 4, 5, 6)

In [34]:
tup = (1,2,3)
lst = list(tup) # 이름을 붙일때 숫자로 시작하면 안된다. 문자로 시작해야함
print(lst)

[1, 2, 3]

In [22]:
t1=(1,2,"a","b")
t1[1:]

(2, 'a', 'b')

In [25]:
t1=("가나다")
print(t1)

가나다

In [28]:
t1=(1,2,"a","b")
len(t1)

4

In [36]:
tup=(1,2,3,4,5)
print(tup[1])
print(tup[-1])

2
5

In [33]:
tup=(1,2,3)
a,b,c=tup
print(a,b,c)

1 2 3

In [38]:
a={1:"a"}
a[2]="b"
a[0]="c"
print(a)

{1: 'a', 2: 'b', 0: 'c'}

In [65]:
a={"name":"byungshin","phone":"01062492766"}
a.values()
for k in a.values():    # for-> 반복문, 그대로 쳐야함
  print(k)

byungshin
01062492766

In [50]:
list(a.keys())

['name', 'phone']

In [53]:
a.values()
a.clear()

In [59]:
a={"name":"pey","phone":"01062492766"}
"name" in a
"email" in a

False

In [63]:
a={"name":"pey","phone":"01062492766"}
a.get("name")
print(a.get("nokey"))
a.get("foo","park")

None

'park'

In [74]:
my_dict={"name":"john","age":"18","city":"new York"}
print(my_dict)
print(my_dict["name"]) # [] -> list

{'name': 'john', 'age': '18', 'city': 'new York'}
john